:root {
    --primary: #198754;
}

body {
    background: #f8f9fa;
    font-family: 'Segoe UI', sans-serif;
}

.navbar {
    background: linear-gradient(135deg, #198754, #146c43) !important;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.table thead {
    background-color: var(--primary);
    color: white;
}

.btn-success {
    background-color: var(--primary);
    border: none;
}
